name: Format

on:
  pull_request:
    branches: [master]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Run Formatter
        run: pnpm run fmt
      - name: Commit and Push
        run: |
          git config user.name "Bag Bot"
          git config user.email "<${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "style: fmt" || echo "No changes to commit"
          git push origin HEAD:${{ github.event.pull_request.head.ref }}