on:
    pull_request:
      branches:
        - v3001
      types: ["closed"]
  
jobs:
    cherry_pick_release_v2_0:
      runs-on: ubuntu-latest
      name: Cherry pick into master
      if: ${{ contains(github.event.pull_request.labels.*.name, 'need-dup') && github.event.pull_request.merged == true }}
      steps:
        - name: Checkout
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Cherry pick into release-v2.0
          uses: carloscastrojumo/github-cherry-pick-action@v1.0.10
          with:
            branch: master
            labels: |
              cherry-pick
            reviewers: |
              lajbel
            title: '[cherry-pick] {old_title}'
            body: 'Cherry picking #{old_pull_request_id} onto this branch'
env:
    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}